h1, p, input {
    font-family: 'Lato', sans-serif;

}

#speechContainer {
    margin-top : 50px
}

#transcribt{
    padding-top: 100px
}

.card-body{
    padding : 50px;
    text-align: center;    
}

#submit-btn:hover{
    cursor: pointer;
}